@page "/Reperti"
@inject Data.BancaDati db

@if (nuovo == null)
{
    <button @onclick="(e => Aggiungi())">nuovo</button>
    <table>
        <tr>
            <th>ID</th>
            <th>Periodo</th>
            <th>Tipologia</th>
            <th>Descrizione</th>
            <th>Modifica</th>
            <th>Cancellazione</th>
        </tr>
        @foreach (Data.Reperto singolo in db.reperti)
        {
            <tr>
                <td>@singolo.id</td>
                <td>@singolo.periodo</td>
                <td>@singolo.tipologia</td>
                <td>@singolo.descrizione</td>
                <td><button @onclick="(e => Modifica(singolo))">modifica</button></td>
                <td><button @onclick="(e => Cancella(singolo))">cancella</button></td>
            </tr>
        }
    </table>
}
else
{
    <p>Inserici i dati e premi ok</p>
    <input @bind-value="nuovo.periodo" placeholder="Periodo" />
    <br />
    <input @bind-value="nuovo.tipologia" placeholder="Tipologia" />
    <br />
    <input @bind-value="nuovo.descrizione" placeholder="Descrizione" />
    <br />
    <button @onclick="(e => Salva())">OK</button>
}

@code {

    private Data.Reperto nuovo;

    private void Cancella(Data.Reperto daCancellare)
    {
        db.reperti.Remove(daCancellare);
        db.SaveChanges();
    }

    private void Aggiungi()
    {
        nuovo = new Data.Reperto();
    }

    private void Modifica(Data.Reperto daModificare)
    {
        nuovo = daModificare;
    }

    private void Salva()
    {
        if (nuovo.id == 0)
        {
            db.reperti.Add(nuovo);
        }
        else
        {
            db.reperti.Update(nuovo);
        }

        db.SaveChanges();
        nuovo = null;
    }

}